.features-section{

    padding:95px 8%;

    background:#060b14;
    padding-bottom: 150px;
}

.features-heading{

    text-align:center;

    max-width:760px;

    margin:auto;

    margin-bottom:60px;

}

.features-heading span{

    color:#00d4ff;

    font-weight:700;

    letter-spacing:2px;

    font-size:14px;

}

.features-heading h2{

    margin-top:18px;

    font-size:46px;

    color:white;

    line-height:1.25;

    font-weight:800;

}

.features-heading p{

    margin-top:22px;

    color:#9fb3c8;

    line-height:1.8;

    font-size:17px;

}

.features-grid{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:26px;

}

.feature-card{

    position:relative;

    overflow:hidden;

    padding:34px;

    border-radius:24px;

    background:rgba(255,255,255,.05);

    backdrop-filter:blur(18px);

    border:1px solid rgba(255,255,255,.08);

    transition:.35s ease;

}

.feature-card::before{

    content:"";

    position:absolute;

    width:180px;

    height:180px;

    background:#00d4ff;

    filter:blur(100px);

    right:-100px;

    top:-100px;

    opacity:.15;

}

.feature-card:hover{

    border-color:rgba(0,212,255,.28);

    box-shadow:0 14px 30px rgba(0,212,255,.10);

}

.feature-icon{

    width:74px;

    height:74px;

    border-radius:20px;

    display:flex;

    justify-content:center;

    align-items:center;

    margin-bottom:24px;

    background:linear-gradient(
        135deg,
        #00d4ff,
        #2e68cc
    );

    color:white;

}

.feature-card h3{

    color:white;

    font-size:22px;

    margin-bottom:14px;

    font-weight:700;

}

.feature-card p{

    color:#b8c6d8;

    line-height:1.8;

    font-size:15.5px;

}

/* Tablets */

@media(max-width:992px){

.features-grid{

grid-template-columns:repeat(2,1fr);

}

}

/* Mobile */

@media(max-width:768px){

.features-section{

padding:75px 6%;

}

.features-heading{

margin-bottom:45px;

}

.features-heading h2{

font-size:36px;

}

.features-heading p{

font-size:16px;

}

.features-grid{

grid-template-columns:1fr;

gap:22px;

}

.feature-card{

padding:28px;

}

.feature-icon{

width:68px;

height:68px;

}

.feature-card h3{

font-size:20px;

}

}